body {
  background-color: #04d0eb;
  color: #000000;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #1790fa;
  border-style: none;
}
input {
  height: 20px;
}